<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.PostgreSQLDialect
		</property>
		<property name="hibernate.connection.driver_class">
			org.postgresql.Driver
		</property>

		<!-- Assume test is the database name -->
		<property name="hibernate.connection.url">
			jdbc:postgresql://localhost/loan_system
		</property>
		<property name="hibernate.connection.username">
			postgres
		</property>
		<property name="hibernate.connection.password">
			123
		</property>

		<!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="hibernate.current_session_context_class">
			thread
		</property>


		<property name="hibernate.c3p0.min_size">50</property>
		<property name="hibernate.c3p0.max_size">100</property>
		<property name="hibernate.c3p0.timeout">500</property>
		<property name="hibernate.c3p0.max_statements">100</property>
		<property name="hibernate.c3p0.idle_test_period">5000</property>




		<!-- List of XML mapping files -->
		<!-- <mapping resource="employee.hbm.xml"/> -->
		<!-- <mapping class="com.mvc.dto.User"/> -->
		<mapping class="com.system.loan.dto.UserDto" />

		<mapping class="com.system.loan.dto.CoDto" />

		<mapping class="com.system.loan.dto.CustomerDto" />

		<mapping class="com.system.loan.dto.GuarantorInfoDto" />

		<mapping class="com.system.loan.dto.CustomerOfficerDto" />

		<mapping class="com.system.loan.dto.custDto" />

		<mapping class="com.system.loan.dto.co.CO_DTO_001" />
		<mapping class="com.system.loan.dto.co.LOGIN_DTO_001" />
		<mapping class="com.system.loan.dto.co.CO_DTO_002" />

		<mapping class="com.system.loan.dto.LoanAgreementDto" />

		<mapping class="com.system.loan.dto.GuarantorInfoLoanerDto" />

		<mapping class="com.system.loan.dto.AcountInfoDto" />

		<mapping class="com.system.loan.dto.TransectionDto" />

		<mapping class="com.system.loan.dto.LoanApprovalDto" />

	</session-factory>
</hibernate-configuration>
